---
import Sectionhead from "../../components/sectionhead.astro";
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Portfolio">
  <Sectionhead>
    <Fragment slot="title">BrawlStar API</Fragment>
    <Fragment slot="desc">API to browse and connect BrawlStar data to your page</Fragment>
  </Sectionhead> 
  <main>
   
      brawlstarapi...

      -lista kafalków technologi
      - opis
      - zrzuty ekranu aplikacji
      - link do aplikacji
      
 
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    /* color: white; */
    /* background-color: rgb(210, 45, 45); */
    font-size: 20px;
    line-height: 1.6;
  }
</style>
