---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portfolio">
  <main>
    Portfolio cos tu trzebe dac Portfolio cos tu trzebe dac Portfolio cos tu
    trzebe dac Portfolio cos tu trzebe dac

    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
    <h1>sdsdfsf</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    background-color: rgb(210, 45, 45);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
