---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import Sectionhead from "../components/sectionhead.astro";
import LinkComponent from "../components/react/LinkComponent";
---

<Layout title="Portfolio">
  <Sectionhead>
    <Fragment slot="title">Hello</Fragment>
    <Fragment slot="desc"></Fragment>
  </Sectionhead>
  <main>
    Portfolio cos tu trzebe dac Portfolio cos tu trzebe dac Portfolio cos tu
    trzebe dac Portfolio cos tu trzebe dac

    <LinkComponent client:only="react" name="przekazana nazwa" />

    <Card title="GeoApp" body="test body" href="/homeprojects/brawlstarapi" />
    <Card
      title="BrawlStarApi"
      body="test body"
      href="/homeprojects/geosearch"
    />
    <Card title="test" body="test body" href="linkdoStrony" />
    <Card title="test" body="test body" href="linkdoStrony" />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    background-color: orange;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
