---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import Sectionhead from "../components/sectionhead.astro";
import LinkComponent from "../components/react/LinkComponent";
---

<Layout title="Portfolio">
  <Sectionhead>
    <Fragment slot="title">Hello</Fragment>
    <Fragment slot="desc"></Fragment>
  </Sectionhead>

  Portfolio cos tu trzebe dac Portfolio cos tu trzebe dac Portfolio cos tu
  trzebe dac Portfolio cos tu trzebe dac

  <LinkComponent client:only="react" name="przekazana nazwa" />
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <Card title="GeoApp" body="test body" href="/homeprojects/brawlstarapi" />
    <Card
      title="BrawlStarApi"
      body="test body"
      href="/homeprojects/geosearch"
    />
    <Card title="test" body="test body" href="linkdoStrony" />
    <Card title="test" body="test body" href="linkdoStrony" />
  </div>
</Layout>
