---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">

  <main>
    Portfolio cos tu trzebe dac Portfolio cos tu trzebe dac Portfolio cos tu
    trzebe dac Portfolio cos tu trzebe dac

	
	<Card title="GeoApp" body="test body" href="linkdoStrony"></Card>
	<Card title="BrawlStarApi" body="test body" href="linkdoStrony"></Card>
	<Card title="test" body="test body" href="linkdoStrony"></Card>
	<Card title="test" body="test body" href="linkdoStrony"></Card>
   
 
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    background-color: rgb(210, 45, 45);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
