---
import Sectionhead from "../components/sectionhead.astro";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import { aboutMe } from "../../config/config";
---

<Layout title="Portfolio">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Now</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-astroMainDarkTextColor dark:text-astroDarkMainDarkTextColor">TODO</h2>
      <p class="text-lg leading-relaxed text-astroSecondTextColor dark:text-astroDarkSecondTextColor">
        TODO
      </p>

      
    </div>
  </Container>
</Layout>
