---
const { href } = Astro.props;
---

<div>
  {
    href && (
      <a
        title="See live application"
        class="bg-astroDemoLinkColor text-astroMainTextColor py-3 px-6 rounded-xl text-xl w-32 dark:bg-astroDarkDemoLinkColor dark:text-astroDarkBackground hover:bg-astroSecondColor"
        href={href}
      >
        See live demo
      </a>
    )
  }
</div>
