---
const { href } = Astro.props;
---

{
  href != undefined && (
    <a
      href={href}
      class="bg-astroDemoLinkColor text-astroMainTextColor py-3 px-6 rounded-xl text-xl"
    >
      See live aplication
    </a>
  )
}

<style>


 


/*   a:link {
    color: red;
  }

  a:visited {
    color: green;
  }

  a:hover {
    color: blue;
  }


  a:active {
    color: blue;
  } */
</style>
