---
import { Astronav, MenuIcon, MenuItems } from "astro-navbar";
import { Image } from "astro:assets";
import Container from "./container.astro";
import Dropdown from "./dropdown.astro";
import { menuItems } from "../../config/config";
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-start">
        <a href="/" class="text-lg">
          <Image
            src="/logoNode.svg"
            alt="Logo"
            width={48}
            height={48}
            class="w-32"
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-12 h-12 text-astroMainColor dark:text-astroDarkMainColor" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuItems.map((item, index: number) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuItems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-astroMainDarkTextColor hover:text-astroSecondTextColor
                      dark:text-astroDarkMainColor"
                    >
                      <span> {item.title}</span>
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
