---
const { align = "center" } = Astro.props;
---

<div class:list={["mt-4", align === "center" && "text-center"]}>
  <div class="mb-6">
    <slot name="images" />
    <slot />
  </div>
  <p id="sectionBodyFirst" class="text-lg mt-4">
    <slot name="demo" />
  </p>
  <p id="sectionBodySecond" class="text-lg mt-4 p-2">
    <slot name="repoLink" />
  </p>
  <p id="sectionBodyThi" class="text-lg mt-4">
    <slot name="links" />
  </p>
</div>

<style is:global>
  #sectionBodyFirst {
    @apply text-astroMainDarkTextColor dark:text-astroDarkMainDarkTextColor dark:bg-astroDarkBackground;
  }
  #sectionBodySecond {
    @apply text-astroSecondTextColor dark:text-astroDarkSecondTextColor dark:bg-astroDarkBackground;
  }
</style>
